{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block body %}

<div class= "row">
    <div class= "col-md-6 offset-md-3">   <!-- Makale Ekle formumuz artık sayfanın ortasında gözüküyor-->

<h3>Makale Ekle</h3>
<hr>

    <form method ="post" enctype="multipart/form-data" >   <!-- Formlara eklenen resim dosyalarının gözükmesi için enctype="multipart/form-data" ekliyoruz. -->
    {% csrf_token %}   <!-- Güvenlik amacıyla djangonun hata vermesini önlemek için -->

    {{form.media}}   <!-- Ckeditörün kullanılabilmesi için -->
    {{form|crispy}}

    <button type = "submit" class="btn btn-danger">Makale Ekle</button>
    </form>

    </div>
</div>

{% endblock body %}