{% extends "layout.html" %}

{% block body %}

<div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">{{article.title}}</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">{{article.created_date}} tarihinde {{article.author.username}} tarafından oluşturuldu</div>
                            <!-- Post categories-->
                            
                        </header>
                        <hr>
                        <!-- Preview image figure-->
                        {% if article.article_image %}
                        <img class="img-fluid rounded" src="{{article.article_image.url}}" alt="">
                        <hr>
                        {% endif %}
                        
                        <!-- Post content-->
                        <section class="mb-5">
                            {{article.content|safe}}  <!--Ckeditorde yazılaların güzel gözükmesi için safe tagı ekliyoruz -->
                        </section>
                    </article>

                   
                    
                </div>
                
                
            </div>
        </div>

{% endblock body %}